/* Layout
   ========================================================================== */

*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

body {
  font: 24px Arial;
  background: #FFFFFF;
  color: #000000;
  display: inline-block;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  padding: 1rem;
  width: 90%;
  background-color: rgba(250, 250, 250, 0.9);
}

/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  padding: 2rem;
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 4rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.half { width: 50%; }
  .column.two-third { width: 60%;}

  .column.third {width: 40%;}
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  padding-bottom: .5rem;
}

h1 {
  border-bottom: 1px solid #FFF;
  font-size: 4em;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

/* Lists
   ========================================================================== */

ul {
  margin: 0;
  text-align: left;
}

@media (min-width: 40rem) {
  ul { display: inline-block; }
}

/* Links
   ========================================================================== */

a {
  color: #b01500;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.copyright {
  font-size: .5rem;
}

.yellow {
  background: #FFFF00;
}

.quote {
  font-size: 1.5em;
  line-height: 3.5rem;
  word-spacing: 0em;
  text-align: center;
  padding-bottom: .2em;
}

.bio img {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 70%;
  min-width: 10em;
  max-width: 17em;
  border: solid #FFFF00 2px;
  float: top;
  vertical-align: middle;
  margin-right: 1%;
  margin-left: 1%;
}

.bio {
  text-align: left;
  line-height: 2em;
  padding-left: 2%;
}

p {
  padding-bottom: 1.5em;
}

@media (min-width: 60rem) {
  .quote {
    font-size: 3.3em;
    line-height: 1.4em;
    word-spacing: .2em;
  }

  .bio img {
    float: right;
  }
}

@media (min-width: 30rem) {
  .bio img {
    float: right;
  }
}
